<section class="hero" id="home">
  <div class="hero-content">
    <h1>Transformando Belém com Reciclagem</h1>
    <p>
      🌱 Descubra pontos de coleta próximos a você, contribua com novos locais no mapa interativo e
      ajude a construir uma cidade mais limpa, sustentável e consciente para todos.
    </p>

    <div class="actions">
      <app-button variant="contained">Ver pontos no mapa</app-button>
    </div>
  </div>
  <div class="hero-content">
    <span></span>
    <img src="images/hero-image.png" alt="Hero Image" />
  </div>
</section>
